<div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Valeur</th>
        </tr>
        </thead>
        <tbody>
        {% for data in metadata %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.value.timestamp is defined ? data.value|format_date('short') : data.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
